<!DOCTYPE html>
<html lang="en">
<html style="font-size: 22px;"></html>

<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ETL_ML_Project</title>
    <link rel="stylesheet" href="styles.css" media="screen">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand p-2" href="#">ETL-Project UNCC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"   href="Visuals.html">Visuals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="About.html">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="row mt-5">
      <div class="col-md-12 ms-auto bg-white">
        <h2 class="text-info mt-2"> Group Members & Contact Information</h2>
        <hr>
        <!-- <img src="../Images/cancer_.jpg" alt="" class="w-100 float-start mt-4 mb-4"> -->
      </div>

        <div class="row mt-4">
            <h4 class="u-custom-text-color mt-3">
                Akanksha Kukhraniya
            </h4>
            <img src="../Images/cancer_.jpg" alt="" class="w-100 float-start mt-4 mb-4">
            <!-- <div class="u-social-icons u-spacing-10 u-social-icons-1">
              <a class="u-social-url" target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/akanksha-kukhraniya/"><span class="u-icon u-icon-circle u-social-icon u-social-linkedin u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7fd2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-7fd2"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
        C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
        H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
              </a>
            </div>     -->
            <p class="text_ "> Linkedln: https://www.linkedin.com/in/akanksha-kukhraniya/  </p>
            <p class="text_"> Gmail: akanksha.kukhraniya@gmail.com</p>
            <p class="text_"> Git Hub: https://github.com/akankshakukhraniya</p>
        </div>
    </div>
    <div class="row mt-4">
        <h4 class="u-custom-text-color mt-3">
            Luis Rodriguez
        </h4>
        
        <p class="text_"> Linkedln:  </p>
        <p class="text_"> Gmail:</p>
        <p class="text_"> Git Hub:</p>
    </div>
    <div class="row mt-4">
        <h4 class="u-custom-text-color mt-3">
            Zack Rogers
        </h4>
        <p class="text_"> Linkedln:  </p>
        <p class="text_"> Gmail:</p>
        <p class="text_"> Git Hub:</p>
    </div>
    <div class="row mt-4">
        <h4 class="u-custom-text-color mt-3">
            Mariam Ahmad
        </h4>
        <p class="text_"> Linkedln:  </p>
        <p class="text_"> Gmail:</p>
        <p class="text_"> Git Hub:</p>
    </div>
    <div class="row mt-4">
        <h4 class="u-custom-text-color mt-3">
            Hector Ladero Rivas
        </h4>
        <p class="text_"> Linkedln:  </p>
        <p class="text_"> Gmail:</p>
        <p class="text_"> Git Hub:</p>
    </div>
  </div>


</body>

</html>
