<!DOCTYPE html>
<html lang="en">
<html style="font-size: 22px;"></html>

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cancer Research</title>
  <link rel="stylesheet" href="/static/css/styles.css" media="screen">
  <!-- To avoid favicon.ico error message -->
  <link rel="icon" href="data:;base64,=">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand p-2" href="">Final Project UNCC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"   href="/static/visualizations/Visuals.html">Visuals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/templates/CancerSurvivalRate.html">Cancer Survival Rate</a>
          <li class="nav-item">
            <a class="nav-link active" href="/static/visualizations/About.html">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 ms-auto bg-white">
        <h2 class="text-info mt-2"> Cancer Research Project</h2>
        <hr>
        
        <img src="/static/images/cancer_.jpg" alt="" class="w-100 float-start mt-4 mb-4">
     
        
      </div>

      <div class="row mt-4">
        <div class="col-md-12 ms-auto bg-white mt-2">
          <h3 class="text-info mt-3"> </h3>
      <p class="text_"> Extract and analyze Cancer data by showing which states have the most cancer cases and the types of cancer present, along with age, testing, and race. </p>
      <br>
      <p class="text_"> We start the project focusing in the United States Cancer Data. After displaying several visuals that show different cancer statistics, we specifacilly focus on Wisconsin data.</p>
      <br>
      <p class="text_"> Once we analize Winsconsin data, we are able to create a machine learning algorithm to determine the diagnostic of a cancer patient once we previoulsly established his/her main symtoms.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </div>
<script>
  var cancer_data = '{{ data | tojson | safe }}';
</script>
<script type="text/javascript" src="/static/js/app.js"></script>  

</body>

</html>